<div class="secondPageBanner">
    <div class="mainNav">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="mainLogo" href="/main/{{uName}}"><img class="mainLogo" src="/images/logo.png" width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main/{{uName}}">Find A Table
                                <class="sr-only"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/secondary/{{uName}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my_tables/{{uName}}">My Tables</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container secPageHeadContainer">
        <div class="row">
            <div class="col-12">
                <h1 class="secPageHeader">My Munch Profile</h1>
            </div>
        </div>
    </div>
</div>
<div class="secPageMain">
    <div class="row profileSec mx-5 py-5">
        <div class="col-lg-6 col-md-12">
            <div class="cardDeckFrame">
                <div class="card-deck">
                    <div class="card cardFrame">
                        <div class="card-header bg-dark text-white border-success">
                            <h1 class="profileHeader text-center">{{info.name}}</h1>
                        </div>
                        <div class="bg-secondary cardImgFrame">
                            <div class="cardImgBlock">
                                {{#if missingURL}}
                                <img class="card-img-top coverPhotoFrame rounded" src="/images/defaultCover.jpg"
                                    alt="No Photo Yet">
                                {{else}}
                                <img class="card-img-top coverPhotoFrame rounded" src="{{info.cover_photo_URL}}"
                                    alt="Card image">
                                {{/if}}
                            </div>
                        </div>

                        <div class="bg-secondary text-white card-body">
                            <h5 class="card-title card-header bg-dark text-white">My Rating</h5>
                            <div class="ratingBox"> 
                                  <div class="my-rating-1"></div>
                            </div>
                            <h5 class="card-title card-header bg-dark text-white">About Me</h5>
                            <div class="cardInfo">

                                {{#if missing_about_me}}
                                <p class="card-text font-italic text-center">
                                    Please enter a brief description of yourself here.
                                </p>
                                {{else}}
                                <p class="card-text">
                                    {{info.about_me}}
                                </p>
                                {{/if}}
                            </div>
                            <h5 class="card-title card-header bg-dark text-white">Interests</h5>
                            <div class="cardInfo">

                                {{#if missing_interests}}
                                <p class="card-text font-italic text-center">
                                    Please list some of your interests here.
                                </p>
                                {{else}}
                                <p class="card-text">
                                <p>{{info.interests}}</p>
                                </p>
                                {{/if}}
                            </div>
                        </div>
                        <div class="bg-secondary editProfile">
                            <a class="btn btn-primary" id="editButton" role="button">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-12">
            <div class="calendarOuter">
                <div class="card-deck">
                    <div class="card calendarFrame">
                        <div class="calendarHeader">
                            <h1>Calendar</h1>
                        </div>
                        <div class="loadingContainer">
                            <div class="span12 mr-2 calendarLoaded">
                                <div class="container">
                                    <div id="calendar" class="mt-5 ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="footer">
        <p>©2020 MunchM8. All Rights Reserved.</p>
    </div>
</footer>


<div class="d-none uName">{{uName}}</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="text" id="title" name="title" class="form-control bg-light text-black"
                                placeholder="Restaurant">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="datetime-local" id="date" name="date"
                                class="form-control bg-light text-black newETime" placeholder="Date">
                        </div>
                    </div>





                    <input type="submit" value="Submit" formaction="/newEvent/{{uName}}"
                        class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn">

                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group d-none">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="text" id="id" name="id" class="form-control bg-light text-black updateNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="text" id="title" name="title"
                                class="form-control bg-light text-black updateTitle" placeholder="Restaurant">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="datetime-local" id="date" name="date" class="form-control bg-light text-black"
                                placeholder="Date">
                        </div>
                    </div>





                    <input type="submit" value="Update" class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn"
                        formaction="/updateEvent/{{uName}}">
                    <input type="submit" value="Delete"
                        class="btn btn-danger text-light btn-block btn-lg m-0 mt-2 submit-btn"
                        formaction="/deleteEvent/{{uName}}">

                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group d-none">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="text" id="id" name="id" class="form-control bg-light text-black updateNumber">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="text" id="title" name="title"
                                class="form-control bg-light text-black updateTitle" placeholder="Restaurant">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="datetime-local" id="date" name="date" class="form-control bg-light text-black"
                                placeholder="Date">
                        </div>
                    </div>





                    <input type="submit" value="Update" class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn"
                        formaction="/updateEvent/{{uName}}">
                    <input type="submit" value="Delete"
                        class="btn btn-danger text-light btn-block btn-lg m-0 mt-2 submit-btn"
                        formaction="/deleteEvent/{{uName}}">

                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/editProfile/{{uName}}" method="POST">
                    <div class="form-group d-none">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            <input type="text" id="id" name="id" class="form-control bg-light text-black updateNumber">
                        </div>
                    </div>
                    <label for="profileAboutMe">About Me:</label>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                            {{#if missing_about_me}}
                            <textarea class="form-control editProfInfo" name="profileAboutMe" id="profileAboutMe"
                                rows="5"> Please enter a brief description of yourself here. </textarea>
                            {{else}}
                            <textarea class="form-control editProfInfo" name="profileAboutMe" id="profileAboutMe"
                                rows="5">{{info.about_me}}</textarea>
                            {{/if}}
                        </div>
                    </div>
                    <label for="profileInterests">Interests:</label>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>

                            {{#if missing_interests}}
                            <textarea class="form-control editProfInfo" name="profileInterests" id="profileInterests"
                                rows="3">Please list some of your interests here.</textarea>
                            {{else}}
                            <textarea class="form-control editProfInfo" name="profileInterests" id="profileInterests"
                                rows="3">{{info.interests}}</textarea>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coverPhoto">Cover Photo URL</label>
                        <input type="text" class="form-control" id="coverPhotoURL" name="coverPhotoURL"
                            placeholder="https://imgur.com/upload" value="{{info.cover_photo_URL}}">
                    </div>


                    <input type="submit" value="Update"
                        class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn" />
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="d-none roomName">{{roomId}}</div>


<div class="d-none hostName">{{variable.host_name}}</div>
<div class="d-none g1">{{variable.guest_1}}</div>

<div class="d-none g2">{{variable.guest_2}}</div>
<div class="d-none g3">{{variable.guest_3}}</div>

<div class="d-none g4">{{variable.guest_4}}</div>
<div class="d-none g5">{{variable.guest_5}}</div>


