<form action="/send/{{uName}}" method="POST" class="emailForm">
  <div class="form-group row">
    <label for="inputAttendees" class="col-sm-3 col-form-label">Attendees:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputAttendees" name="attendees">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputScheduled" class="col-sm-3 col-form-label">Scheduled time:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputScheduled" name="scheduled">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputRestaurant" class="col-sm-3 col-form-label">Restaurant details:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputRestaurant" name="restaurant">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-3 col-form-label">Address:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputAddress" name="address">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-3 col-form-label">Email:</label>
      <div class="col-sm-9">
        {{#each uEmail}}
        <div class="custom-control custom-checkbox">
          <input name="email" value="{{email}}" type="checkbox" class="custom-control-input" id="{{id}}">
          <label class="custom-control-label" for="{{id}}">{{email}}</label>
        </div>
        {{/each}}
      </div>
  </div>
  <div class="emailButton">
    <button id="emailSubmit" type="submit" class="btn btn-primary">Mark as Complete</button>
  </div>
</form>
