<div class="placesSearch">
    <div class="mainNav">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="mainLogo" href="/main/{{uName}}"><img class="mainLogo" src="/images/logo.png" width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main/{{uName}}">Find A Table<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/secondary/{{uName}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my_tables/{{uName}}">My Tables</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container placesContainer">
        <div class="row">
            <div class="col-12">
                <h1 class="placesHeader">Restaurants Near You</h1>
            </div>
        </div>
    </div>
</div>

<div class="placesSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 pendingTables">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Pending Tables</h1>
                            <p class="pendingTableInfo"><i>Please select a resturaunt on the map to host a table
                                    there.</i></p>
                            <button class="btn-primary randomButton d-none">Host A Table</button>
                            <p class="tableCreated">{{messages.table_created}}</p>
                            <p class="errorMessage">{{messages.full_room}}</p>
                            <p class="errorMessage">{{messages.not_in_room}}</p>
                            <p class="errorMessage">{{messages.expired_date}}</p>
                            <p class="errorMessage">{{messages.full_room}}</p>
                            <div id="users">
                                <div class="searchBar">
                                    <!-- class="search" automagically makes an input a search field. -->
                                    <input class="search form-control" placeholder="Search" />

                                </div> <!-- Child elements of container with class="list" becomes list items -->
                                <ul class="list">
                                    {{#each table}}
                                    <li>
                                        <!-- The innerHTML of children with class="name" becomes this items "name" value -->

                                        <div class="text-white card-body table-card-body bg-secondary">
                                            <h5 class="card-title table-card-header bg-dark text-white restaurant_name">
                                                {{this.restaurant_name}}
                                            </h5>
                                            <div class="cardInfo">
                                                <ul class="list-group text-dark col-6">
                                                    <li class="list-group-item host_name list-group-item-dark">
                                                        <b>Host:</b>
                                                        {{this.host_name}}</li>
                                                    <li class="list-group-item number_guests list-group-item-dark">
                                                        <b>No. of Guests:</b>
                                                        {{this.number_of_guests}}/{{this.max_number_guests}}</li>
                                                </ul>
                                                <ul class="list-group text-dark col-6">
                                                    <li class="list-group-item pref_language list-group-item-dark">
                                                        <b>Preferred Language:</b>
                                                        {{this.preferred_language}}</li>
                                                    <li class="list-group-item date_time list-group-item-dark"><b>Date &
                                                            Time:</b>
                                                        {{this.date_and_time}}</li>
                                                </ul>
                                                <ul class="list-group text-dark col-12">
                                                    <li class="list-group-item description list-group-item-dark">
                                                        <b>Description:</b>
                                                        {{this.description}}</li>

                                                </ul>
                                                <ul class="list-group text-dark col-12">
                                                    <li class="list-group-item address list-group-item-dark">
                                                        <b>Address:</b>
                                                        {{this.restaurant_address}}</li>
                                                </ul>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="join_chat ml-auto">
                                                            <form
                                                                action="/chat/{{this.uName}}/{{this.realName}}/{{this.id}}">
                                                                <div class="form-group d-none">
                                                                    <div class="input-group input-group-lg">
                                                                        <input type="text" id="username" name="username"
                                                                            class="form-control bg-light text-black"
                                                                            placeholder="Username"
                                                                            value="{{this.uName}}">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group d-none">
                                                                    <div class="input-group input-group-lg">
                                                                        <input type="text" id="room" name="room"
                                                                            class="form-control bg-light text-black"
                                                                            placeholder="Room" value="{{this.id}}">
                                                                    </div>
                                                                </div>
                                                                <input type="submit" value="Join"
                                                                    class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mapsBox">
                <div class="loadingContainer">
                    <div class="mapsContainer">
                        <!-- Map appears here -->
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal loeadingModal">
    <!-- Place at bottom of page -->
</div>


<!--Modal-->


<div class="modal fade" id="createResModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Host A Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/create_table/{{uName}}" method="POST">
                    <div class="form-group d-none">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-dark text-light">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Host Name:</label>
                        <input type="text" class="form-control" name="hostName" id="hostName" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Restaurant Name</label>
                        <input type="text" class="form-control" id="restName" name="restName">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Restaurant address</label>
                        <input type="text" class="form-control" id="restAddress" name="restAddress">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Maximum No. Of Guests</label>
                        <select class="form-control" name="max_guests" id="max_guests">
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group d-none">
                        <label for="exampleFormControlSelect1">Current No. Of Guests</label>
                        <input type="number" class="form-control" id="current_guests" name="current_guests" value="1">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Date & Time</label>
                        <input type="datetime-local" id="dateTime" name="dateTime"
                            class="form-control bg-light text-black" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Preferred Language</label>
                        <select class="form-control" name="prefLanguage" id="prefLanguage">
                            <option>Cantonese</option>
                            <option>English</option>
                            <option>Mandarin</option>
                            <option>No Preference</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Table Description</label>
                        <textarea class="form-control editProfInfo" name="tableDesc" id="tableDesc" rows="5"></textarea>
                    </div>



                    <input type="submit" value="Submit Table"
                        class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn" />
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="d-none uName">{{uName}}</div>

<!-- Search a map -->
<script src="/js/maps-nearby-search.js"></script>