<div class="secondPageBanner">
    <div class="mainNav">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="mainLogo" href="/main/{{uName}}"><img class="mainLogo" src="/images/logo.png" width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main/{{uName}}">Find A Table
                                <class="sr-only"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/secondary/{{uName}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/my_tables/{{uName}}">My Tables</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container secPageHeadContainer">
        <div class="row">
            <div class="col-12">
                <h1 class="secPageHeader">My Tables</h1>
            </div>
        </div>
    </div>
</div>
<div class="secPageMain">
    <div class="placesSection py-3 px-5">
        <div class="container-fluid py-5 px-5">
            <div class="row">
                <div class="col-lg-6 pendingTables">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">Hosted Tables</h1>
                                <div id="users">
                                    <div class="searchBar">
                                        <!-- class="search" automagically makes an input a search field. -->
                                        <input class="search form-control" placeholder="Search" />


                                    </div> <!-- Child elements of container with class="list" becomes list items -->
                                    <ul class="list">
                                        {{#each hostData}}
                                        <li>
                                            <!-- The innerHTML of children with class="name" becomes this items "name" value -->

                                            <div class="text-white pendingTablesCard bg-secondary">
                                                <h5
                                                    class="card-title pendingTablesHeader bg-dark text-white restaurant_name">
                                                    {{this.restaurant_name}}
                                                </h5>
                                                <div class="cardInfo">
                                                    <ul class="list-group text-dark col-6">
                                                        <li class="list-group-item host_name list-group-item-dark">
                                                            <b>Host:</b>
                                                            {{this.host_name}}</li>
                                                        <li class="list-group-item number_guests list-group-item-dark">
                                                            <b>No. of Guests:</b>
                                                            {{this.number_of_guests}}/{{this.max_number_guests}}</li>
                                                    </ul>
                                                    <ul class="list-group text-dark col-6">
                                                        <li class="list-group-item pref_language list-group-item-dark">
                                                            <b>Preferred
                                                                Language:</b>
                                                            {{this.preferred_language}}</li>
                                                        <li class="list-group-item date_time list-group-item-dark">
                                                            <b>Date & Time:</b>
                                                            {{this.date_and_time}}</li>
                                                    </ul>
                                                    <ul class="list-group text-dark col-12">
                                                        <li class="list-group-item description list-group-item-dark">
                                                            <b>Description:</b>
                                                            {{this.description}}</li>

                                                    </ul>
                                                    <ul class="list-group text-dark col-12">
                                                        <li class="list-group-item address list-group-item-dark">
                                                            <b>Address:</b>
                                                            {{this.restaurant_address}}</li>
                                                    </ul>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="join_chat ml-auto">
                                                                <form
                                                                    action="/chat/{{this.uName}}/{{this.realName}}/{{this.id}}">
                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="username"
                                                                                name="username"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Username"
                                                                                value="{{this.uName}}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="room" name="room"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Room" value="{{this.id}}">
                                                                        </div>
                                                                    </div>
                                                                    <input type="submit" value="Join"
                                                                        class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 mt-2">
                                                            <div class="join_chat ml-auto">
                                                                <form
                                                                    action="/complete_table/{{this.uName}}/{{this.id}}" method="POST">
                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="username"
                                                                                name="username"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Username"
                                                                                value="{{this.uName}}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="room" name="room"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Room" value="{{this.id}}">
                                                                        </div>
                                                                    </div>
                                                                    <input type="submit" value="Complete"
                                                                        class="btn bg-info text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                                </form>
                                                            </div>
                                                        </div>
                                                
                                                
                                                        <div class="col-lg-6 col-md-6 mt-2">
                                                            <div class="join_chat ml-auto">
                                                                <form
                                                                    action="/delete_table/{{this.uName}}/{{this.id}}" method="POST">
                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="username"
                                                                                name="username"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Username"
                                                                                value="{{this.uName}}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="room" name="room"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Room" value="{{this.id}}">
                                                                        </div>
                                                                    </div>
                                                                    <input type="submit" value="Delete"
                                                                        class="btn bg-danger text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        {{/each}}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pendingTables">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title">Joined Tables </h1>
                                <div id="user2">
                                    <div class="searchBar">
                                        <!-- class="search" automagically makes an input a search field. -->
                                        <input class="search form-control" placeholder="Search" />

                                    </div> <!-- Child elements of container with class="list" becomes list items -->
                                    <ul class="list">
                                        {{#each joinData}}
                                        <li>
                                            <!-- The innerHTML of children with class="name" becomes this items "name" value -->

                                            <div class="text-white pendingTablesCard bg-secondary">
                                                <h5
                                                    class="card-title pendingTablesHeader bg-dark text-white restaurant_name">
                                                    {{this.restaurant_name}}
                                                </h5>
                                                <div class="cardInfo">
                                                    <ul class="list-group text-dark col-6">
                                                        <li class="list-group-item host_name list-group-item-dark">
                                                            <b>Host:</b>
                                                            {{this.host_name}}</li>
                                                        <li class="list-group-item number_guests list-group-item-dark"><b>No. of Guests:</b>
                                                            {{this.number_of_guests}}/{{this.max_number_guests}}</li>
                                                    </ul>
                                                    <ul class="list-group text-dark col-6">
                                                        <li class="list-group-item pref_language list-group-item-dark">
                                                            <b>Preferred
                                                                Language:</b>
                                                            {{this.preferred_language}}</li>
                                                        <li class="list-group-item date_time list-group-item-dark">
                                                            <b>Date & Time:</b>
                                                            {{this.date_and_time}}</li>
                                                    </ul>
                                                    <ul class="list-group text-dark col-12">
                                                        <li class="list-group-item description list-group-item-dark">
                                                            <b>Description:</b>
                                                            {{this.description}}</li>

                                                    </ul>
                                                    <ul class="list-group text-dark col-12">
                                                        <li class="list-group-item address list-group-item-dark">
                                                            <b>Address:</b>
                                                            {{this.restaurant_address}}</li>
                                                    </ul>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="join_chat ml-auto">
                                                                <form
                                                                    action="/chat/{{this.uName}}/{{this.realName}}/{{this.id}}">
                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="username"
                                                                                name="username"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Username"
                                                                                value="{{this.uName}}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group d-none">
                                                                        <div class="input-group input-group-lg">
                                                                            <input type="text" id="room" name="room"
                                                                                class="form-control bg-light text-black"
                                                                                placeholder="Room" value="{{this.id}}">
                                                                        </div>
                                                                    </div>
                                                                    <input type="submit" value="Join"
                                                                        class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                        {{/each}}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <p>©2020 MunchM8. All Rights Reserved.</p>
    </div>
</footer>