<div class="placesSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 pendingTables">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Hosted Tables</h1>
                            <div id="users">
                                <div class="searchBar">
                                    <!-- class="search" automagically makes an input a search field. -->
                                    <input class="search form-control" placeholder="Search" />


                                </div> <!-- Child elements of container with class="list" becomes list items -->
                                <ul class="list">
                                    {{#each hostData}}
                                    <li>
                                        <!-- The innerHTML of children with class="name" becomes this items "name" value -->

                                        <div class="text-white card-body table-card-body">
                                            <h5 class="card-title table-card-header bg-dark text-white restaurant_name">
                                                {{this.restaurant_name}}
                                            </h5>
                                            <div class="cardInfo">
                                                <ul class="list-group text-dark col-6">
                                                    <li class="list-group-item host_name"><b>Host:</b>
                                                        {{this.host_name}}</li>
                                                    <li class="list-group-item number_guests"><b>No. of Guests:</b>
                                                        {{this.number_of_guests}}/{{this.max_number_guests}}</li>
                                                </ul>
                                                <ul class="list-group text-dark col-6">
                                                    <li class="list-group-item pref_language"><b>Preferred Language:</b>
                                                        {{this.preferred_language}}</li>
                                                    <li class="list-group-item date_time"><b>Date & Time:</b>
                                                        {{this.date_and_time}}</li>
                                                </ul>
                                                <ul class="list-group text-dark col-12">
                                                    <li class="list-group-item description"><b>Description:</b>
                                                        {{this.description}}</li>

                                                </ul>
                                                <ul class="list-group text-dark col-12">
                                                    <li class="list-group-item address"><b>Address:</b>
                                                        {{this.restaurant_address}}</li>
                                                </ul>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="join_chat ml-auto">
                                                            <form
                                                                action="/chat/{{this.uName}}/{{this.realName}}/{{this.id}}">
                                                                <div class="form-group d-none">
                                                                    <div class="input-group input-group-lg">
                                                                        <input type="text" id="username" name="username"
                                                                            class="form-control bg-light text-black"
                                                                            placeholder="Username"
                                                                            value="{{this.uName}}">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group d-none">
                                                                    <div class="input-group input-group-lg">
                                                                        <input type="text" id="room" name="room"
                                                                            class="form-control bg-light text-black"
                                                                            placeholder="Room" value="{{this.id}}">
                                                                    </div>
                                                                </div>
                                                                <input type="submit" value="Join"
                                                                    class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pendingTables">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Joined Tables </h1>
                            <div id="user2">
                                <div class="searchBar">
                                    <!-- class="search" automagically makes an input a search field. -->
                                    <input class="search form-control" placeholder="Search" />
                    
                                </div> <!-- Child elements of container with class="list" becomes list items -->
                                <ul class="list">
                                    {{#each joinData}}
                                    <li>
                                        <!-- The innerHTML of children with class="name" becomes this items "name" value -->

                                        <div class="text-white card-body table-card-body">
                                            <h5 class="card-title table-card-header bg-dark text-white restaurant_name">
                                                {{this.restaurant_name}}
                                            </h5>
                                            <div class="cardInfo">
                                                <ul class="list-group text-dark col-6">
                                                    <li class="list-group-item host_name"><b>Host:</b>
                                                        {{this.host_name}}</li>
                                                    <li class="list-group-item number_guests"><b>No. of Guests:</b>
                                                        {{this.number_of_guests}}/{{this.max_number_guests}}</li>
                                                </ul>
                                                <ul class="list-group text-dark col-6">
                                                    <li class="list-group-item pref_language"><b>Preferred Language:</b>
                                                        {{this.preferred_language}}</li>
                                                    <li class="list-group-item date_time"><b>Date & Time:</b>
                                                        {{this.date_and_time}}</li>
                                                </ul>
                                                <ul class="list-group text-dark col-12">
                                                    <li class="list-group-item description"><b>Description:</b>
                                                        {{this.description}}</li>

                                                </ul>
                                                <ul class="list-group text-dark col-12">
                                                    <li class="list-group-item address"><b>Address:</b>
                                                        {{this.restaurant_address}}</li>
                                                </ul>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="join_chat ml-auto">
                                                            <form
                                                                action="/chat/{{this.uName}}/{{this.realName}}/{{this.id}}">
                                                                <div class="form-group d-none">
                                                                    <div class="input-group input-group-lg">
                                                                        <input type="text" id="username" name="username"
                                                                            class="form-control bg-light text-black"
                                                                            placeholder="Username"
                                                                            value="{{this.uName}}">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group d-none">
                                                                    <div class="input-group input-group-lg">
                                                                        <input type="text" id="room" name="room"
                                                                            class="form-control bg-light text-black"
                                                                            placeholder="Room" value="{{this.id}}">
                                                                    </div>
                                                                </div>
                                                                <input type="submit" value="Join"
                                                                    class="btn bg-dark text-light btn-block btn-lg m-0 submit-btn chatSubmit">

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    {{/each}}
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>